cffi==1.15.1
cloudpickle==2.2.0
gymnasium==0.27.0
gymnasium-notices==0.0.1
jax-jumpy==0.2.0
numpy==1.24.1
PettingZoo==1.22.3
pycparser==2.21
pygame==2.1.3.dev8
pymunk==6.2.0
Shimmy==0.2.0
typing_extensions==4.4.0
